.bg-none {
    background-color: transparent!important;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.1)!important;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    color: var(--white);
}

.color-white {
    color: var(--white)!important;
}